
.home{
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.home-section button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(29, 29, 162);
    color: rgb(255, 250, 247);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.home-section button:hover{
    background-color: rgb(7, 7, 108);
}

.home-section .projects{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-top:1rem ; */
}

.home-section .project{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(24, 24, 125);
    border-radius: 0.5rem;
    cursor: pointer;
}